<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.My.MySettings.GseConnectionString" connectionString="server=server;User Id=root;password=Soluciones;Persist Security Info=True;database=gse" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
